/* .main {
  background-color: lightblue;
  width: 100vw;
  height: 100vw;
}
#searchCol {
  background-color: red;
  padding: 1%;
  /* height: 100%; */
}
.num1 {
  height: 100vw;
  background-color: lightblue;
} 
.col-10{
    background-color: lightblue;
}
.col-2{

}
html{
    background-color: lightblue;
}
.card{
 margin: auto;
 height: 180px;
}
#today{
    color: white;
}