.num1 {
  height: 100vw;
  background-color: lightblue;
}
.col-10 {
  background-color: lightblue;
}

html {
  background-color: lightblue;
}
.card {
  margin: auto;
  height: 180px;
}
#today {
  color: white;
}
